.addproduct{
  display: flex;
    justify-content: center;
    align-items: center;
     background-image: linear-gradient(to right, #202e5b , #94ddde);
}
.createproduct{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 10%;
  display: flex;
  width: 90%;
  margin-top: 1rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
    /* background-image: linear-gradient(to right, #202e5b , #94ddde); */
}

.createproduct h1 {
    text-align: center;
    color:#202e5b;
  }
  .createproduct .formfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 40rem;
  }
  .createproduct .formfield label {
    margin-bottom: 9px;
  }
  .createproduct .formfield input {
    height: 37px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 10px;
  }
  
  .createproduct .formfield textarea {
    border: 1px solid #e1e1e1;
    height: 200px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 3px;
    padding-top: 5px;
  }
  .createproductbtn {
    height: 33px;
    background: #4caf50;
    border: 0;
    color: #fff;
    padding: 8px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 2%;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .on {
    color: gold;
  }
  .off {
    color: #ccc;
  } 
  .starrating{ 
    display: flex;
    flex-direction: row;
    margin: 2% 0%;
  }

  /* .star{
    color:gold;
  } */