.productCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
  }
  .left{
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 0.7rem;
  }
     
  .left img{
    height: 150px;
    width: 150px;
    display: block;
    padding: 1rem;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-style: none;
  }
  
  .right{
    flex: 1 1 auto;
    padding: 0rem 1.25rem;
  }

  .right label{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
  }
  .pen{
    color: #00adff;
  }

  .delete{
    color: red;
  }
  .save{
    color: #69c306;
  }
  
  .name{
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }    

  .name li{
    list-style: none;
  }

  .name li a{
    text-decoration: none;
    color: #202e5b;
  }

  .namebox{
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .namebox input{
    height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    margin-left: 8px;
  }
  
  .description{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .descriptiontext{
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .descriptiontext textarea{
    height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 12px;
    margin-left: 8px;
    width: 80%;
  }
  
  .footer{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 2%; */
    margin-top: 0;
    margin-bottom: 1rem;
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .footer label{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
  }

  .price{
    justify-items: center;
    align-items: center;
  }

  .price input{
    height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    width: 33%;
  }

  .rating{ 
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-right: 8px;
  }

  .star{
    color:gold;
  }

  .blankstar{
    color: #ccc;
  }
  .edit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .edit i{
    margin-right: 2px;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .formfield {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-left: 8px;
  }
  .formfield input {
    height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    width: 2rem;
  }

  .btnfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }

  .addtocartbtn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


  