.background{
  height: 100vh;
  background-image: linear-gradient(to right, #202e5b , #94ddde);
}

.sort{
  display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.sortbtn{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #202e5b;
    border-color: #202e5b;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #202e5b , #94ddde);
}

.productList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#description
{
  font-size: 15px;
  margin-left: 2%;
  width: 80%;
}

.app-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #d6d6d6;
  border-radius: 50%;
  border-top-color: #6200ee;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  margin-right: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
}

.fa-cart-shopping{
  display: flex;
  position: relative;
  font-size: 1.8rem;
  color: #fff;
}

.fa-message{
  font-size: 1.7rem;
  position: absolute;
  color: #94ddde;
  top: -50%;
  left: 50%;
}

.fa-message span{
  color: #fff;
  position: absolute;
  font-size: 0.9rem;
  top: 5%;
  left: 24%;
  padding: 2px;
}

.price{
  margin: 2%;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.pricebtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #202e5b;
  border-color: #202e5b;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pricebtn span{
  font-size: 1rem;
  font-weight: 600;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}